/* 
///////////////////////
// ROOT
///////////////////////
*/ 

:root {
    --dirty-glue: #EEE8E1;
    --soft-amber: #C7BCB0;
    --khaki: #BBAA96;
    --tom-thumb: #4A5A3D;
    --shingle-fawn: #6D553B;
    --rangitito: #2A2D21;
    --pine-tree: #20211B;
 
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

/* 
///////////////////////
// NAVBAR
///////////////////////
*/ 

#navbar {
    background-color: var(--rangitito);
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0.5%;
}

#navbar a {
    font-family: Montserrat;
    color: var(--soft-amber);
    background-color: none;
    font-size: 2vi;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-right: 1.5%;
    border-radius: 10px;
    padding: 0.5% 1%;
    transition: 0.2s ease-in-out background-color;
    transition: 0.2s ease-in-out color;
}

#navbar a:hover {
    color: var(--rangitito);
    background-color: var(--soft-amber);
}

#navbar img {
    width: 5%;
    margin-right: 50%;
    cursor: pointer;
}

#cart:hover {
    color: var(--soft-amber) !important;
    background-color: var(--rangitito) !important;
}


/* 
///////////////////////
// HOME PAGE
///////////////////////
*/ 

#home {
    background-color: var(--soft-amber);
}

/* BANNER */

#banner {
    width: 100%;
    height: 80vh;
    position: relative;
    margin-bottom: 7.5%;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner-opacity {
    position: absolute;
    z-index: 2;
}

#banner-graphic {
    width: 60% !important;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#banner-graphic p {
    color: var(--soft-amber);
    font-family: Montserrat;
    font-size: 2.1vi;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-left: 5%;
    margin-top: 6%;
    width: 70%;
    position: absolute;
    top: 0;
    z-index: 4;
}

/* BEST SELLERS */

#best-sellers {
    width: 90%;
    margin: 0% 5%;
    border-radius: 10px;
    border: 3px solid var(--shingle-fawn);
    background: var(--khaki);
    position: relative;
    margin-bottom: 1%;
}

#best-sellers-title {
    border-radius: 10px;
    color: var(--dirty-glue);
    background: var(--rangitito);
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.8vi;
    text-align: center;
    padding: 0.5%;
    width: 15%;
    position: absolute;
    top: -4.5%;
    left: 4.5%;
}

#product-container {
    width: 90%;
    margin: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.product {
    border-radius: 10px;
    padding: 1%;
    background: var(--dirty-glue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: var(--rangitito);
    font-family: Roboto;
}

.product h1 {
    font-size: 2vi;
}

.product p {
    font-size: 0.75vi;
    font-style: italic;
}

.product h2 {
    font-size: 1.25vi;
}

#shop-all {
    border-radius: 20px;
    border: 3px solid var(--rangitito);
    background: var(--tom-thumb);
    padding: 1%;
    color: var(--dirty-glue);
    font-size: 1.5vi;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 135.539%;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}

/* TESTIMONIALS */

#testimonials {
    width: 100%;
    height: 110vh;
    position: relative;
    margin-bottom: 5%;
}

#testimonial-1 {
    position: absolute;
    top: 0;
    left: 30%;
    width: 25%;
}
#testimonial-2 {
    position: absolute;
    right: -2%;
    top: 10%;
    width: 45%;
}
#testimonial-text-1 {
    position: absolute;
    right: 1%;
    top: 10%;
    width: 35%;
    color: black;
    font-family: Montserrat;
    font-size: 3vi;
    font-weight: 700;
    text-align: right;
    margin-top: 7.5%;
}
#testimonial-text-1 span {
    font-weight: 400;
    font-style: italic;
}
#testimonial-3 {
    position: absolute;
    left: 0;
    top: 22%;
    width: 40%;
}
#testimonial-text-2 {
    position: absolute;
    left: -3%;
    top: 22%;
    width: 40%;
    width: 35%;
    color: black;
    font-family: Montserrat;
    font-size: 2.8vi;
    font-weight: 700;
    text-align: right;
    margin-top: 9%;
}
#testimonial-text-2 span {
    font-weight: 400;
    font-style: italic;
}
#testimonial-4 {
    position: absolute;
    bottom: 0;
    right: 30%;
    width: 28%;
}

/* NEWSLETTER */

#newsletter {
    width: 100%;
    height: 70vh;
    background-image: url('../images/NewsletterImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#signup-box {
    border-radius: 10px;
    border: 3px solid var(--rangitito);
    background: var(--dirty-glue);
    width: 40%;
    margin: 5% 28%;
    position: absolute;
    font-family: Montserrat;
    text-align: center;
    padding: 2%;
}

#signup-box h1 {
    color: var(--rangitito);
    font-weight: 700;
    font-size: 3vi;
}

#signup-box p {
    color: var(--tom-thumb);
    font-style: italic;
    font-weight: 900;
    line-height: 135.539%;
    font-size: 1.75vi;
    width: 90%;
    margin: 2.5% 5%;
}

#signup-box button {
    width: 80%;
    border-radius: 20px;
    border: 3px solid var(--rangitito);
    background: var(--tom-thumb);
    color: var(--dirty-glue);
    padding: 2% 1%;
    font-size: 2vi;
    font-weight: 700;
    cursor: pointer;
}

/* 
///////////////////////
// SHOP
///////////////////////
*/ 

#shop {
    background-color: var(--soft-amber);
}

#shop-container {
    border-radius: 10px;
    border: 3px solid var(--shingle-fawn);
    background: var(--khaki);
    width: 90%;
    margin: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    position: relative;
}

#shop-title {
    border-radius: 10px;
    color: var(--dirty-glue);
    background: var(--rangitito);
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.8vi;
    text-align: center;
    padding: 0.5%;
    width: 15%;
    position: absolute;
    top: -2%;
    left: 4.5%;
}

.shop-product {
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    background: var(--dirty-glue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: var(--rangitito);
    font-family: Roboto;
    cursor: pointer;
}

.shop-product h1 {
    font-size: 2vi;
}

.shop-product p {
    font-size: 0.75vi;
    font-style: italic;
}

.shop-product h2 {
    font-size: 1.25vi;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
  }

  .modal-content {
    background-color: #fff;
    margin: auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-button:hover {
    color: black;
  }


#navigation {
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    color: var(--tom-thumb);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2vi;
    gap: 5%;
}

/* 
///////////////////////
// CONTACT US
///////////////////////
*/ 

#contact {
    background-color: var(--soft-amber);
}

/* BUSINESS HOURS */

#business-hours {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 2px solid var(--shingle-fawn);
    background: var(--dirty-glue);
    padding: 2%;
    font-family: Montserrat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#business-hours h1 {
    color: var(--rangitito);
    font-size: 3.5vi;
    width: 100%;
    align-items: center;
}

#business-hours p {
    color: var(--tom-thumb);
    font-weight: 700;
    font-size: 1.75vi;
    margin-bottom: 5%;
    text-align: left;
}

#hours {
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

/* GLOW GANG */

#glow-gang {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
}

#glow-image {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#glow-image img {
    width: 70%;
}

#glow-form {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#glow-form div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5%;
    border-radius: 10px;
    border: 3px solid var(--rangitito);
    background: var(--tom-thumb);
    padding: 2%;
    text-align: center;
}

#glow-form h1 {
    color: var(--dirty-glue);
    font-weight: 700;
    font-size: 2.5vi;
    width: 80%;
    margin-bottom: 2%;
}

#glow-form p { 
    color: var(--dirty-glue);
    font-style: italic;
    font-weight: 400;
    font-size: 1.5vi;
    width: 60%;
    margin-bottom: 2%;
}

#glow-form input, #glow-form textarea {
    width: 90%;
    font-family: Roboto;
    color: rgba(74, 90, 61, 0.54);
    font-weight: 600;
    font-size: 1vi;
    border-radius: 10px;
    border: 2px solid var(--shingle-fawn);
    background: var(--dirty-glue);
    padding: 1%;
    margin-bottom: 2%;
}

#glow-form button {
    border-radius: 20px;
    border: 3px solid var(--pine-tree);
    background: var(--rangitito);
    color: var(--dirty-glue);
    font-family: Roboto;
    font-size: 2vi;
    padding: 2%;
    font-weight: 800;
    width: 50%;
}

/* JOIN NEWSLETTER */

#join-newsletter {
    width: 90%;
    margin-left: 2.5%;
    border-radius: 10px;
    border: 3px solid var(--rangitito);
    background: var(--dirty-glue);
    padding: 2%;
    text-align: center;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    position: relative;
}

#join-newsletter h1 {
    color: var(--rangitito);
    font-size: 2.5vi;
    font-weight: 700;
    margin-bottom: 1%;
}

#join-newsletter p {
    color: var(--tom-thumb);
    font-weight: 900;
    font-style: italic;
    line-height: 135.539%;
    font-size: 1.75vi;
    width: 80%;
    margin-bottom: 1%;
}

#join-button {
    width: 100%;
    position: relative;
}

#join-button input {
    width: 45%;
    font-family: Roboto;
    color: rgba(74, 90, 61, 0.54);
    font-weight: 600;
    font-size: 1vi;
    border-radius: 10px;
    border: 2px solid var(--shingle-fawn);
    background: var(--dirty-glue);
    padding: 1%;
    margin-bottom: 2%;
}

#join-button button {
    border-radius: 10px;
    font-family: Roboto;
    border: 2px solid var(--rangitito);
    background: var(--tom-thumb);
    font-style: italic;
    font-weight: 900;
    line-height: 135.539%;
    color: var(--dirty-glue);
    padding: 0.8%;
    font-size: 1.5vi;
    width: 10%;
    position: absolute;
    right: 25%;
    bottom: 32%;
    cursor: pointer;
}

/* SOCIAL MEDIA */

#social-media {
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 4%;
}

#social-links-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid #000;
    background: var(--tom-thumb);
}

#social-links-container h1 {
    color: var(--dirty-glue);
    font-weight: 700;
    text-align: center;
    font-size: 2.5vi;
}

#social-links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#social-links i {
    padding: 4%;
    width: 100%;
    color: var(--dirty-glue);
    font-size: 7vi;
    background-color: var(--rangitito);
    border: 3px solid #000;
    border-radius: 10px;
    text-align: center;
}

.social-link {
    width: 30%;
    padding: 2%;
    cursor: pointer;
}

#social-image {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social-image img {
    width: 70%;
}

/* 
///////////////////////
// FOOTER
///////////////////////
*/ 

#footer {
    background-color: var(--rangitito);
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 15vh;
    padding: 1%;
    font-family: Montserrat;
    display: flex;
}

#footer-logo {
    width: 60%;
    color: var(--dirty-glue);
    font-weight: 700;
    font-size: 1vi;
}

#footer-logo img {
    width: 10%;
    cursor: pointer;
}

#footer-links {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 10%;
    width: 40%;
    margin-right: 5%;
}

.links-section {
    display: flex;
    flex-direction: column;
}

#footer-links a {
    text-decoration: none;
    color: var(--dirty-glue);
    font-size: 1vi;
    margin-bottom: 6%;
}

.footer-header {
    color: var(--dirty-glue);
    font-weight: 700 !important;
    font-size: 1.25vi !important;
}